body{
    background-color: rgba(147, 192, 24, 0.63);
}
h2{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
#container{
    display: flex;
    margin: 130px;
    align-items: center;
    justify-content: space-evenly;
}

#firstlayer{
    display: flex;
    flex-direction: column;
}
#secondlayer{
    display: flex;
    flex-direction: column;
}
#thirdlayer{
    
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#btn{
    display: flex;
    width: 50px;
    cursor: pointer;
}
#btn.hover{
    color: gold;
    transform: 3s;
}
.img{
    height: 100px;
    width: 90px;
    align-items: center;
    padding: 15px;
}
.result{
    margin: 20px;
    padding:20px ;
    border: 2px solid;
    border-radius: 30px;
}